
<div class="container">

  <footer class="pt-3 my-4">
    <hr style="border: 2px solid black;" class="mx-0">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3" style="font-weight: bold">
      <li class="nav-item"><a routerLink="" class="nav-link px-2 text-muted">الصفحة الرئيسية</a></li>
      <li class="nav-item"><a routerLink="/source" class="nav-link px-2 text-muted">المصادر</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link px-2 text-muted">إتصل بنا</a></li>
    </ul>



    <p class="text-center text-muted"> Made with Niyya🥑 by <a href="https://github.com/m-yassine-kun" target="_blank">Koala</a>, © 2023 </p>
  </footer>
</div>
