<nav class="navbar navbar-expand-lg " >
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand"> <span>
      <img src="/assets/images/lifesaver.png" alt="logo" width="32" height="32" class="rounded-circle flex-shrink-0"/></span>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-3" >
        <li class="nav-item active me-3">
          <a class="nav-link " routerLink="/">الصفحة الرئيسية
          </a>
        </li>

        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/source">المصادر</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/contact">إتصل بنا</a>
        </li>

      </ul>


    </div>
  </div>
</nav>
