
<div class="px-4 mt-5 pt-4 py-2 my-0 text-center border main-words" >
  <h4 class="display-6 fw-bold" style="text-decoration: underline;">المصادر </h4>
  <hr>
  <div class="col-lg-6 mx-auto" style="display:inline;">
    <p class="lead mb-4 pt-2"   style="font-weight: bold;"> كل المعلومات المستخدة في المماثلة مأخوذة من الملحقين رقم 1 و2 من <a href="http://www.sgg.gov.ma/BO/bo_ar/2021/BO_7011_Ar.pdf"  target="_blank" class="disabled-link"> الجريدة الرسمية عدد 7011</a>, من 29 ذوالحجة 1442 (9 أغسطس 2021) صفحات 6001-6008.

       </p>

  </div>


