<div class="px-4 mt-4 pt-4 py-2 my-0 text-center border main-words" *ngIf="router.url === '/'">
  <h4 class="display-6 fw-bold" style="text-decoration: underline;">مماثلة إحتساب مؤشر الأسرة الخاص بـِـــ rsu </h4>
  <div class="col-lg-6 mx-auto" style="display:inline;">
    <p class="lead mb-4 pt-2"   style="font-weight: bold;"> مرحبا بكم في مماثلة إحتساب نتيجة مؤشر الأسرة أو مجموع النقاط الخاصة بالدعم الإجتماعي للسجل الإجتماعي الموحد rsu.

      <br> للبدأ المرجو إختيار نوع مجال السكن عبر الإختيار الجانبي.</p>

  </div>

</div>

<div class="row mt-3 ms-0 mb-4 ">
  <div class="col-md-3  col-sm-5  mb-3 ">

    <app-type-zone></app-type-zone>


  </div>

  <div class="col-md-8 mt-4 main">


    <div *ngIf="router.url === '/'" class="me-1 pe-2">

      <p class="lead my-5 main-source"> كل المعلومات المستخدة في المماثلة مأخوذة من الملحقين رقم 1 و2 من <span style="text-decoration: underline;">الجريدة الرسمية عدد 7011</span>, من 29
        ذوالحجة 1442 (9 أغسطس 2021) صفحات 6001-6008. </p>


    </div>
  <router-outlet ></router-outlet>



  </div>
</div>
